// Fonts
$font-sans: "Segoe UI", system-ui, sans-serif;
$font-mono: "Cascadia Code", "Fira Code", ui-monospace, monospace;

// Font sizes
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
